<div class="wrapper">
    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="panel-content">
            <div class="row">
                <div class="col-md-12">
                    <form action="" accept-charset="UTF-8" method="get">
                        <div class="input-group">
                            <input type="text" name="search" id="search"  placeholder="Search"
                                class="form-control mr-md-12 no-border">
                            <span class="input-group-btn">
                                <button class="btn  btn-just-icon btn-round btn-light" type="submit"><i class="material-icons">search</i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>